@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import './proyectos.css';


:root {
  --mainFont: 'Josefin Sans', sans-serif;
  --navBg: #D9D9D9;
  --footerBg: #333333;
  --copyFontColor: #D9D9D9;
}


/* 1. vamos a trabajar de manera mas intuitiva el modelo de cajas */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Removemos los margenes de todos los elementos por default */
* {
  margin: 0;
}

/*3. Permitimos el uso de porcentajes basadoss en altura en la aplicacion */
html,
body {
  height: 100%;
}

/* Retoques tipográficos!
  4. Agregar altura de línea accesible
  5. Mejorar la representación de texto */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var (--mainFont);
}

/* 6. Mejora los valores predeterminados de los medios graficos */
img,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Removemos las tipografias predeterminadas para los formularios */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8.  evitamos el desbordamieto del texto */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul>li {
  list-style: none;
}